# Copy this to .env (gitignored) for local dev.

# Optional. Without it, CARTO's basemap tiles still work but have a big watermark.
# You can get a key at https://carto.com/basemaps/apikey/ if you wish
CARTO_API_KEY=
